@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "About Page";
}
<div id="About">
    <div align="center">
        <div class="card mt-3" style="width:55%">
            <div class="card-header">
                <h4 class="card-title"><b>About Us</b></h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mt-4" align="left">
                        <div>
                            CinemaHub, which we initiated in the latter part of 2024, is a cinema and ticketing platform that was swiftly developed. It caters to its users with user-friendly and easily navigable interfaces. CinemaHub is a site that permits users to purchase tickets for current movies screening in various Malls in Cebu, as well as access information about films they have previously watched or enjoyed. The platform also features 12 diverse categories, advance details about upcoming movies, and information on timeless classics that users can't forget. CinemaHub is an ever-evolving project, driven by the vision of continuous growth and development.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

