body {
	background-image: url('../pic/CinemaHub-image/1773899.jpg');   
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:auto;
}
.login-form label {
	font-size: 12px;
	color: #fff;
}
.login-form {
	position: relative;
	z-index: 1;
	padding: 57px 24px;
	border-radius: 35px;
	box-shadow: 2px 5px 10px 10px #00000047;
	background-color: #101010a8;
	margin-top: 10%;

}
.text-muted {
	color: #fff   !important;
}
.login-form h2 {
	position: relative;
	top: -10px;
}
.form-control1{
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.5;
	color: #eaecef;
	background-color: #08082b0f;
	background-clip: padding-box;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	border-radius: 0rem;
	transition: border-color .15s ease-in-out , box-shadow .15s ease-in-out;
}
.btn-danger {
	color: #fff;
	background-color: #cf1b1e;
	border: 2px solid #cf1b1e;
	padding: 7px 38px;
	font-size: 16px;
	border-radius: 100px;
}
.login-circle {
	position: relative;
	top: 57px;
	color:  #cf1b1e;
	z-index: 2;	
}
.signin-circle {
	position: relative;
	top: 22px;
	color: #cf1b1e;
	z-index: 2;
}
.signin-form {
	position: relative;
	z-index: 1;
	padding: 57px 24px;
	border-radius: 60px;
	box-shadow: 2px 5px 10px 10px #00000047;
	background-color: #101010a8;

}
.signin-form label {
	font-size: 12px;
	color: #fff;
}
.signin-form h2 {
	position: relative;
	top: -10px;
}


